.tab-list {
  margin: 3em 0 2em 0;
  border-bottom: 0.25em solid var(--primaryColor);
  padding-left: 0;
}

.tab-list-item {
  padding: 0.5em 0.75em;
  list-style: none;
  display: inline-block;
  transition: 0.2s ease-in;
  margin-left: 1em;
  font-size: 1.25em;
  border-radius: 4px 4px 0 0;
}

.tab-list-item:hover {
  color: var(--contrastColor);
  background-color: var(--accentColor);
}

.tab-list-active {
  color: var(--contrastColor);
  background-color: var(--primaryColor);
}
