@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primaryColor: rgb(20, 20, 20);
  --accentColor: rgb(50, 50, 50);
  --contrastColor: rgb(230, 230, 230);
}
